.product_list{
    margin-top: 10px;
}
.product{
    transition: 0.2s;
    margin-bottom: 2em;
}
/* .product:hover {
    -ms-transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    z-index: 9;
} */
.product img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.product .info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em 1em;
    margin: 0 0 0.5em 0;
    border-bottom: 2px solid #2d7bb5;
    background-color: #fff;
}
.product .info .name{
    flex: 2 0 0;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.4em;
    color: #2d7bb5;
}
.product .info .price{
    font-size: 1.5em;
    font-weight: 600;
    color: #75b546;
}
.product .info .price .original-price{
    color: #f54336;
    text-decoration: line-through;
    font-size: 0.7em;
}
.product .links{
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    background-color: #fff;
}
.product .links .more{
    width: 150px;
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #7A0BC0;
}
.product .links .more:hover{
    text-decoration: none;
    opacity: .9;
}
.product .links .add-to{
    margin-left: auto;
    padding: 0.5em;
    color: #fff;
    font-weight: 600;
    background-color: #75b545;
    text-transform: uppercase;
}
.product .links .add-to:hover{
    text-decoration: none;
    opacity: .9;
}

.details-card {
    width: 80%;
    margin: auto;
}

.description-container {
    position: relative;
    /* height: 900px; */
}

.main-description1 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.product-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.product-price {
    font-size: 1.8rem;
}
.product-description{
    text-align: justify;
    text-justify: inter-word;
}
